<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주사위 결과</title>
</head>
<body>
    <h1>Data</h1>

    <p>사용자 주사위 1:{{User_result1}}</p>
    <p>사용자 주사위 2: {{User_result2}}</p>
    <p><string>사용자 주사위 합:{{User}}</string></p>

    <br/><br/>
    <hr/>
    <p>컴퓨터 주사위 1:{{comDice1}}</p>
    <p>컴퓨터 주사위 2:{{comDice2}}</p>
    <p><string>사용자 주사위 합:{{com_result}}</string></p>

    <p>==========================================</p>
    <p><strong>결과 :{{dice_result}}</strong></p>
    <
    <a href="/board">Go Back</a>
</body>
</html>