<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Board page</title>
    <script>
        function User_roll1(){

            var rand1 = Math.floor(Math.random()*(6-1)+1);
            document.getElementById("User_dice1").value = rand1;
            <!--document.getElementById("r1").innerText = rand1.toString();-->

        }
        function User_roll2(){

            var rand2 = Math.floor(Math.random()*(6-1)+1);

            document.getElementById("User_dice2").value = rand2;

        }
    </script>
</head>
<body>

    <form action="/board/echo" method="GET">
        <h1>주사우 굴리기</h1>

        <h2>사용자 주사위1</h2>
        <input name="User_result1" type="text" id="User_dice1"readonly/>
        <!--<h3 id="r1">주사위를 굴려주세요 !</h3>-->
        <input type="button" onclick="User_roll1()"value="굴리기" />

        <br /><br />
        <h2>사용자 주사위2</h2>
        <input name="User_result2" type="text" id="User_dice2"readonly/>
        <input type="button" onclick="User_roll2()"value="굴리기"/>

        <br /><br />
        <input type="submit" value="컴퓨터 주사위 굴리기" />
    </form>
    <hr />
</body>
</html>