<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>result page</title>
</head>
<body>
<h1>정답 페이지 !</h1>

<p>{{remainCount}}</p>
<p>{{outcome}}</p>

<a href="/main">Go Back</a>
</body>
</html>