<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Board page</title>

</head>
<body>

    <h1>숫자 맞추기 !</h1>

    <h2>컴퓨터가 생성한 숫자를 맞추시오.</h2>
    <form action="/main/echo" method="GET">
        <input name="User_result1" type="number" id="User_Input"min="1"max="100"/>
        <input type="submit" value="입력">

    </form>


</body>
</html>